# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
/Admin.NET/.vs
/Admin.NET/packages
/Admin.NET/GameFrameX.Web.Entry/wwwroot/Upload
/Admin.NET/GameFrameX.Web.Entry/wwwroot/Avatar
/Admin.NET/GameFrameX.Web.Entry/wwwroot/Signature
/Admin.NET/GameFrameX.Web.Core/Admin.NET.Web.Core.csproj.user
/Admin.NET/GameFrameX.Web.Entry/Admin.NET.Web.Entry.csproj.user
/Admin.NET/GameFrameX.Web.Entry/Properties/PublishProfiles
/Admin.NET/GameFrameX.Web.Entry/publish
/Admin.NET/GameFrameX.Web.Entry/logs
/Admin.NET/GameFrameX.Web.Entry/*.db

# folders
dist/
node_modules/
/Web/package-lock.json
.DS_Store
/Web/public/config.js
Admin.NET/.idea
Admin.NET/GameFrameX.Web.Entry/logs
