using GameFrameX.Core;
using System.ComponentModel.DataAnnotations;

namespace @Model.NameSpace;

/// <summary>
/// @(@Model.BusName)增加输入参数
/// </summary>
public class Add@(@Model.ClassName)Input : BaseAddInput
{
@foreach (var column in Model.TableField){
if (@column.WhetherRequired == "Y" || @column.WhetherAdd == "Y"){
    @:/// <summary>
    @:/// @column.ColumnComment
    @:/// </summary>
    @:[Required(ErrorMessage = "@(@column.ColumnComment)不能为空")]
    @:public @column.NetType @column.PropertyName { get; set; }
        @:
}
}
}

