using GameFrameX.Core;
using System.ComponentModel.DataAnnotations;

namespace @Model.NameSpace;

/// <summary>
/// @(@Model.BusName)基础输入参数
/// </summary>
public class @(@Model.ClassName)BaseInput : BaseUpdateInput<@(@Model.ClassName)BaseInput>
{
@foreach (var column in Model.TableField){
if (@column.ColumnKey != "True"){

    @:/// <summary>
    @:/// @column.ColumnComment
    @:/// </summary>
    @:public virtual @column.NetType @column.PropertyName { get; set; }
        @:
}
}
}