using GameFrameX.Core;
using System.ComponentModel.DataAnnotations;

namespace @Model.NameSpace;

/// <summary>
/// @(@Model.BusName)更新输入参数
/// </summary>
public class Update@(@Model.ClassName)Input : BaseUpdateInput
{
@foreach (var column in Model.TableField){
if (@column.WhetherUpdate == "Y"){
    @:/// <summary>
    @:/// @column.ColumnComment
    @:/// </summary>
    @:[Required(ErrorMessage = "@(@column.ColumnComment)不能为空")]
    @:public @column.NetType @column.PropertyName { get; set; }
        @:
}
}
}

